
.generic-input {
	 align-content:   center;
	display:         flex;
	flex-direction:  column;
	justify-content: center;
	/*align-items:     center;*/
	width:           100%;
	height:          100%;
}

.generic-input .instructions {
	 margin-bottom:     1.25rem;
	 --tw-text-opacity: 1;
	z-index:           1;
}

.sorting-canvas {

	background: #fafafa;
}

.sorting-container {

}

.sorting-controls {

}