.array-bars::after {
  height: fit-content;
  content: attr(data);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: var(--bar-font-size);
  font-weight: 700;
}

.main-canvas-grid{
  width: 100vw;
  height: 100%;
  position: absolute;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23f1f5f9'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

