/*############################################### SPLASH ###############################################*/
.splash_title {
	font-family: "Rubik Moonrocks", cursive;
	font-size:   50px;
	color:       white;
}

.splash_title span {
	font-family: "JetBrains Mono ExtraBold", monospace;
	font-size:   56px;
	font-weight: bold;
	color:       blueviolet;
}

.splash_subheading {
	font-family: "Apple Thin", sans-serif;
	font-size:   20px;
	color:       white;
}


.cu-icon {
	background-image: url("./cu-icon.png");
	height:           20px;
	width:            20px;
	display:          inline-block;
	position:         relative;
}

.splash_background {
	background-image:    url("./background.jpg");
	background-size:     cover;
	background-position: center;
	height:              100vh;
}


.splash_overlay {
	height:           inherit;
	background-color: rgba(21, 21, 21, 0.91); /* Tint */
	display:          flex;
	flex-direction:   column;
	align-items:      center;
	justify-content:  center;
	position:         relative;
	color:            #252424;
}


.splash_content {
	position:   absolute;
	text-align: center;
}

.splash_list {
	display:         flex;
	flex-direction:  column;
	align-items:     center;
	justify-content: center;
	text-decoration: none;
	margin-top:      25px;
}

li .splash_link {
	position:        relative;
	display:         inline-block;
	font-family:     "JetBrains Mono ExtraBold", monospace;
	font-size:       18px;
	color:           #3d83c9;
	text-decoration: none;
	margin-top:      18px;
}

li .splash_link:after {
	content:          "";
	position:         absolute;
	width:            100%;
	transform:        scaleX(0);
	height:           2px;
	bottom:           0;
	left:             0;
	background-color: white;
	/*background-color: #0087ca;*/
	transform-origin: bottom right;
	transition:       transform 0.25s ease-out;
}

.splash_link:hover:after {
	transform:        scaleX(1);
	transform-origin: bottom left;
}