@tailwind base;
@tailwind components;
@tailwind utilities;



body {
	margin:                  0; /* Keep body margin 0, otherwise it'll mess up some calculations for array genereation */
	font-family:      Open Sans, Helvetica,Arial, sans-serif;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	             monospace;



}
